@{
    Layout = "_Layout.cshtml";
    var db = Database.Open("EA");
  
}
<div class="panel1">
    <div class="content">
        <br />
        @foreach (var group in db.Query("select * from ea_groups where id in (5) order by group_order asc "))
        {
            <button class="accordion">&nbsp;<i class="las @group.icon"></i>&nbsp; @group.group_name</button>
            <div class="accordion_panel">
                <ul>
                    @foreach (var cat in db.Query("select id,title,title_en from ea_categories where menu=@0 and parent=0  order by list_order asc", group.id))
                    {
                        <li><a href="#" id="mainlink-@cat.id-baseline" class="main-link" onclick="getDiagrams_baseline(@cat.id)">- @cat.title</a></li>
                    }
                </ul>
            </div>

        }
        <hr />

        <h2 style="text-align:center;width:100%;color:#d9efff;">الوضع الحالي</h2>

        @foreach (var group in db.Query("select * from ea_groups where id in (1,2,3,4) order by group_order asc "))
        {
            <button class="accordion">&nbsp;<i class="las @group.icon"></i>&nbsp; @group.group_name</button>
            <div class="accordion_panel">
                <ul>
                    @foreach (var cat in db.Query("select id,title,title_en from ea_categories where menu=@0 and parent=0  order by list_order asc", group.id))
                    {
                        <li><a href="#" id="mainlink-@cat.id-baseline" class="main-link" onclick="getDiagrams_baseline(@cat.id)">- @cat.title</a></li>
                    }
                </ul>
            </div>

        }
        <hr />
        <br />
        <h2 style="text-align: center; width: 100%; color: #d9efff;">الوضع المستهدف</h2>

        @foreach (var group in db.Query("select * from ea_groups where id in (1,2,3,4) order by group_order asc "))
        {
            <button class="accordion">&nbsp;<i class="las @group.icon"></i>&nbsp; @group.group_name</button>
            <div class="accordion_panel">
                <ul>
                    @foreach (var cat in db.Query("select id,title,title_en from ea_categories where menu=@0 and parent=0  order by list_order asc", group.id))
                    {
                        <li><a href="#" id="mainlink-@cat.id-target" class="main-link" onclick="getDiagrams_target(@cat.id)">- @cat.title</a></li>
                    }
                </ul>
            </div>

        }
        <hr />

        @foreach (var group in db.Query("select * from ea_groups where id in (6) order by group_order asc "))
        {
            <button class="accordion">&nbsp;<i class="las @group.icon"></i>&nbsp; @group.group_name</button>
            <div class="accordion_panel">
                <ul>
                    @foreach (var cat in db.Query("select id,title,title_en from ea_categories where menu=@0 and parent=0  order by list_order asc", group.id))
                    {
                        <li><a href="#" id="mainlink-@cat.id-target" class="main-link" onclick="getDiagrams_target(@cat.id)">- @cat.title</a></li>
                    }
                </ul>
            </div>

        }
        <hr />
        <button class="accordion">&nbsp;<i class="las la-edit"></i>&nbsp; تصميم حر</button>
        <div class="accordion_panel">
            <ul>

                <li><a href="#" id="mainlink-1-custom" class="main-link" onclick="getDiagrams_custom(1)">- تصاميم عامة</a></li>
                <li><a href="#" id="mainlink-2-custom" class="main-link" onclick="getDiagrams_custom(2)">- هياكل تنظيمية</a></li>
                <li><a href="#" id="mainlink-3-custom" class="main-link" onclick="getDiagrams_custom(3)">- خرائط ذهنية</a></li>
            </ul>
        </div>

    </div>
</div>
<div class="panel2">
    <div class="content" id="panel2"></div>
</div>
<div class="panel3">
    <div class="content" id="panel3">

    </div>
</div>
<script>

    function getDiagrams_baseline(id) {
        relations_category = 0;
        $("#panel3").load("empty.cshtml");
        $("#panel2").load("diagrams_baseline.cshtml?cat=" + id);
        $(".main-link").removeClass("main-link-active");
        $("#mainlink-" + id+"-baseline").addClass("main-link-active");

    }

    function getDiagrams_target(id) {
        relations_category = 0;
        $("#panel3").load("empty.cshtml");
        $("#panel2").load("diagrams_target.cshtml?cat=" + id);
        $(".main-link").removeClass("main-link-active");
        $("#mainlink-" + id + "-target").addClass("main-link-active");

    }

    function getDiagrams_custom(id) {
       
        $("#panel3").load("empty.cshtml");
        $("#panel2").load("diagrams_custom.cshtml?cat=" + id);
        $(".main-link").removeClass("main-link-active");
        $("#mainlink-" + id + "-custom").addClass("main-link-active");

    }
    
    
   
    var acc = document.getElementsByClassName("accordion");
    var i;

    for (i = 0; i < acc.length; i++) {

        acc[i].addEventListener("click", function () {
            $(".accordion").removeClass("active");
            this.classList.add("active");
        });
    }

</script>



@{
    db.Close();
}